


<script type="text/javascript">
  function Reload(){
    location.reload();
  }

  function show() {
    alert("Coming Soon!");
  }

</script>


<div class="navbar-wrapper">
  <div class="container" style="padding: 0px 0px;width: 100%;">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" onclick="Reload()"">Changes For Hope</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 10px;"></span>Home</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-right: 10px;"></span>Reports<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/reports"><span class="glyphicon glyphicon-align-left" aria-hidden="true" style="margin-right: 10px;"></span>Daily Progress Reports</a></li>

                <li><a href="/IncidentReports" ><span class="glyphicon glyphicon-alert" aria-hidden="true" style="margin-right: 10px;"></span>Incident Reports</a></li>

              </ul>

            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="margin-right: 10px;"></span>Manage Records<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/addClient"><span class="glyphicon glyphicon-align-left" aria-hidden="true" style="margin-right: 10px;"></span>Add Clients</a></li>

                <li><a href="/clientsProfile" ><span class="glyphicon glyphicon-alert" aria-hidden="true" style="margin-right: 10px;"></span>Search and Update Clients</a></li>

                


              </ul>

            </li>


            <li><a href="/adminPage"><span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 10px;"></span>Timesheets</a></li>


            <li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-right: 10px;"></span>Profile<span class="caret"></span></a>

              <ul class="dropdown-menu">
                <li><a href="/user"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 10px;"></span>Edit My Profile</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right: 10px;"></span>Logout</a></li>
                <!--<li><a href="#">Incident Reports</a></li>-->
              </ul>
            </li>


            <!--<li class="dropdown">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-flag" aria-hidden="true" style="margin-right: 10px;"></span>Admin Page<span class="caret"></span></a>

              

              <ul class="dropdown-menu">

                <li><a href="/DownloadUpload"><span class="glyphicon glyphicon-align-left" aria-hidden="true" style="margin-right: 10px;"></span>Upload</a></li>

                <li><a href="/signup"><span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-right: 10px;"></span><span class="glyphicon glyphicon-user" aria-hidden="true" style="margin-right: 10px;"></span>Register Employee</a></li>

              </ul>

            </li>-->
            
            <li><a href="/DownloadFiles"><span class="glyphicon glyphicon-home" aria-hidden="true" style="margin-right: 10px;"></span>DownloadFiles</a></li>
            



          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>

