<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Clients Profile</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="/css/bootstrap-3.3.7/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- AngularJS Material CSS now available via Google CDN; version 1.0.7 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    

    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->

    <style type="text/css">
      md-backdrop.md-sidenav-backdrop{
          display:none
      }
    </style>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

  <%if (PermissionType == "Staff") { %>
      <%- include partials/navStaff.ejs %>
     <% } else{ %>  
      <%- include partials/nav.ejs %>
    <% } %>



  <!-- <section ng-controller="MyCtrl" style="border: 0px solid #333; margin-top: 200px;"> -->
  <section ng-controller="MyCtrl" style="border: 0px solid #333; margin-top: 50px;">`

    <div class="container">


      <div class="row">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4" style="border: 0px solid #333;position: fixed;" >

          <md-toolbar class="md-theme-indigo"  flex="none">
            <h1 class="md-toolbar-tools">Clients List</h1>
          </md-toolbar>


          <md-content layout-margin="">

            <md-button ng-click="toggleLeft()" class="md-raised md-warn">
              Close Window
            </md-button>

            <h2>Search Client</h2>
            <input type="text" ng-model="nameText">

            <h3>All Cients List</h3>

            <div class="form-container" style="overflow-x: scroll;">
            
                <h4>Number of Clients: {{clients.length}}</h4>
                <hr>
                <ul ng-repeat="person in clients| filter:nameText" ng-click="goToPerson(person.FirstName, person.MiddleName,person.LastName)">
                  <li style="margin-left:-30px;">
                  {{ person.FirstName }}
                  {{ person.MiddleName }}
                  {{ person.LastName }}
                  </li>

                </lu>

            </div>


            
          </md-content>

        </md-sidenav>



    <div class="container"  style="width: 70%; margin: 50px auto;">
      <div class="row">

        <div class="col-md-12">
          <md-button ng-click="toggleLeft()" class="md-raised">
            Show All Clients
          </md-button>
        </div>

        <div class="col-md-12" ng-hide="true">
          <md-card>
            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Search Client</h1>
            </md-toolbar>
            <md-card-content>

              <form name="SeachClientInfoForm">

                <md-input-container class="md-block">
                  <input 
                  type="text"
                  id="fnames" 
                  name="fnames"
                  placeholder="Enter First Name" 
                  ng-model="formData.fnames"
                  required minlength="2" maxlength="100"
                  >
                  <div ng-messages="SeachClientInfoForm.fnames.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                    Input must be between 2 and 100 characters long.
                  </div>
                </div>
                </md-input-container>

                <br>

                <md-input-container class="md-block">
                  <input type="text"
                  id="mnames" name="mnames"
                  placeholder="Enter Middle Name" 
                  ng-model="formData.mnames"
                  required minlength="1" maxlength="100"
                  >
                  <div ng-messages="SeachClientInfoForm.mnames.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                      Input must be between 1 and 100 characters long.
                    </div>
                  </div>
                </md-input-container>
                

                <br>

                <md-input-container class="md-block">
                  <input type="text"
                  id="lnames" name="lnames"
                  placeholder="Enter Last Name" 
                  ng-model="formData.lnames"
                  required minlength="2" maxlength="100"
                  >
                  <div ng-messages="SeachClientInfoForm.lnames.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                      Input must be between 2 and 100 characters long.
                    </div>
                  </div>
                </md-input-container>
                

                <br>

                <md-dialog-actions layout="row">
                  <md-button 
                  ng-click="getClientInfo()" 
                  md-autofocus type="submit" 
                  ng-show="true">
                    Find Client
                  </md-button>
                </md-dialog-actions>

                <p ng-show="info.FirstName == null" style="color: red;">No Records Found </p>
              </form>

            </md-card-content>

          </md-card>
        </div>

        <div class="col-md-12">
          <form name="SeachClientInfoForm2">

          <md-card>

            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Search Reuslts</h1>
            </md-toolbar>

            <md-card-content>


                  <table>

                  <tr>
                    <td>
                        <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_infoFirstUpdate" 
                        name="infoFirstUpdate"
                        placeholder="First Name" 
                        ng-model="info.FirstName"
                        ng-disabled="true"
                        >
                      </md-input-container>
                    </td>

                    <td>
                      
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="fnameu"
                        name="fnameu"
                        placeholder="New First Name" 
                        ng-model="formData.fnameu"
                        required minlength="2"
                        maxlength="100"
                        />
                    <div ng-messages="SeachClientInfoForm2.fnameu.$error" role="alert">
                      <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                        Input must be between 2 and 100 characters long.
                      </div>
                    </div>

                    </md-input-container>
                    

                    </td>
                  </tr>


                  <tr>
                    <td>
                        
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_infoMiddleUpdate"
                        name="infoMiddleUpdate"
                        placeholder="Middle Name" 
                        ng-model="info.MiddleName"
                        ng-disabled="true"
                        />

                      </md-input-container>

                    </td>

                    <td>
                      
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_mname"
                        name="mnameu"
                        placeholder="New Middle Name" 
                        ng-model="formData.mnameu"
                        required minlength="1"
                        maxlength="100"
                        />
                        <div ng-messages="SeachClientInfoForm2.mnameu.$error" role="alert" md-auto-hide="false">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                            Input must be between 2 and 100 characters long.
                          </div>
                        </div>
                      </md-input-container>

                    </td>
                  </tr>

                  <tr>
                    <td>
                        
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_lname"
                        name="infoLastUpdate"
                        placeholder="Last Name" 
                        ng-model="info.LastName"
                        ng-disabled="true"
                        />
                      </md-input-container>

                    </td>

                    <td>
                      
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_lname"
                        name="lnameu"
                        placeholder="New Last name" 
                        ng-model="formData.lnameu"
                        required minlength="1"
                        maxlength="100"
                        />
                        <div ng-messages="SeachClientInfoForm2.lnameu.$error" role="alert" md-auto-hide="false">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                            Input must be between 2 and 100 characters long.
                          </div>
                        </div>
                      </md-input-container>

                    </td>
                  </tr>


                  <tr>
                    <td>
                        
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_infoAgeUpdate"
                        name="infoAgeUpdate"
                        placeholder="Age" 
                        ng-model="info.Age"
                        ng-disabled="true"
                        />
                      </md-input-container>

                    </td>

                    <td>
                      
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_mname"
                        name="ageu"
                        placeholder="New Age" 
                        ng-model="formData.ageu"
                        required minlength="1"
                        maxlength="100"
                        />
                        <div ng-messages="SeachClientInfoForm2.ageu.$error" role="alert" md-auto-hide="false">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                            Input must be between 2 and 100 characters long.
                          </div>
                        </div>
                      </md-input-container>

                    </td>
                  </tr>

                  <tr>
                    <td>
                        
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_genderu"
                        name="formData.genderu"
                        placeholder="Gender" 
                        ng-model="info.Gender"
                        ng-disabled="true"
                        />
                      </md-input-container>

                    </td>

                    <td>
                      
                      <!-- <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_infoGenderUpdate"
                        name="genderu"
                        placeholder="New Gender" 
                        ng-model="formData.genderu"
                        required minlength="1"
                        maxlength="100"
                        />
                        <div ng-messages="SeachClientInfoForm2.genderu.$error" role="alert" md-auto-hide="false">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                            Input must be between 2 and 100 characters long.
                          </div>
                        </div>
                      </md-input-container> -->

                      
                      <md-radio-group ng-model="formData.genderu">

                        <md-radio-button value="Male" class="md-primary" ng-style="{'display':'inline'}">Male</md-radio-button>
                        <md-radio-button value="Female" ng-style="{'display':'inline'}"> Female </md-radio-button>
                        

                      </md-radio-group>


                      <!-- <label>Gender</label>
                        <md-input-container class="md-block">
                          <md-select ng-model="genderState" id="formDataUpdate_infoGenderUpdate" name="genderu" required minlength="2" maxlength="100">
                            <md-option ng-repeat="state in genders" ng-value="state.abbrev">
                              {{state.abbrev}}
                            </md-option>
                          </md-select>
                          <div ng-messages="SeachClientInfoForm2.gender.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                              Input must be between 2 and 100 characters long.
                            </div>
                          </div>
                        </md-input-container> -->

                    </td>
                  </tr>

                  <tr>
                    <td>
                        
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_statusu"
                        name="formData.statusu"
                        placeholder="Status" 
                        ng-model="info.Status"
                        ng-disabled="true"
                        />
                      </md-input-container>

                    </td>

                    <td>

                    <!-- <md-radio-group ng-model="formData.genderu">

                      <md-radio-button value="Male" class="md-primary" ng-style="{'display':'inline'}">Male</md-radio-button>
                      <md-radio-button value="Female" ng-style="{'display':'inline'}"> Female </md-radio-button>
                      

                    </md-radio-group> -->
                      
                      <md-input-container class="md-block">
                        <input 
                        type="text"
                        id="formDataUpdate_infoStatusUpdate"
                        name="statusu"
                        placeholder="New Status" 
                        ng-model="formData.statusu"
                        required minlength="1"
                        maxlength="100"
                        />
                        <div ng-messages="SeachClientInfoForm2.statusu.$error" role="alert" md-auto-hide="false">
                        <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;">
                            Input must be between 2 and 100 characters long.
                          </div>
                        </div>
                      </md-input-container>

                    </td>
                  </tr>

                  </table>

              <!-- <input type="checkbox" ng-model="confirmed" ng-change="change()" id="ng-change-example1" /> Copy Records -->

              <md-button class="md-raised md-primary" ng-model="confirmed" ng-click="change()">Copy Records</md-button>

              <p ng-show="formData.fnameu.length == 0 &&
                formData.lnameu.length == 0 && 
                formData.mnameu.length == 0" style="color: red;"> Please Select Client Records and copy the information first before you can edit</p>

              <md-dialog-actions layout="row">
                <md-button 
                class="md-raised md-primary"
                ng-click="UpdateClient()" 
                md-autofocus type="submit" 
                ng-show="
                formData.fnameu.length > 0 &&
                formData.lnameu.length > 0 && 
                formData.mnameu.length > 0"
                >
                  Update Info
                </md-button>
              </md-dialog-actions>

              <!-- <p ng-show="!updateStatus = false" style="color: blue;"> Updated Record</p> -->
              <p ng-show="updateStatus" style="color: blue;"> Updated Records</p>

            </md-card-content>

          </md-card>
            


          </form>
        </div> 

      </div>
    </div>




      </div> <!-- Container -->
    </div> <!-- Row -->
  </section>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery-1.12.4.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="css/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>


  <script src="/js/angular/angular.js"></script>
  <script src="/js/angular-animate/angular-animate.js"></script>
  <script src="/js/angular-aria/angular-aria.js"></script>

  <!-- AngularJS Material Javascript now available via Google CDN; version 1.0.7 used here -->
  <script src="/js/angular-material/angular-material.js"></script>

  <script src="/js/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/js/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>

  <script src="/js/angular-material-data-table/dist/md-data-table.js"></script>
  <script src="/js/angular-messages/angular-messages.js"></script>

  <script src="/js/ng-file-upload/ng-file-upload.js"></script>

  <!--dateRangPicker-->
  <script src="/js/moment/moment.js"></script>
  <script src="/js/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="/js/angular-daterangepicker/js/angular-daterangepicker.js"></script>

  <link rel="stylesheet" href="/css/bootstrap-daterangepicker/daterangepicker.css"/>


  <script src="/angular_controllers/gen_ctrl.js"></script>

</body>
</html>