<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Progress Report</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="/css/bootstrap-3.3.7/dist/css/bootstrap.min.css" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- AngularJS Material CSS now available via Google CDN; version 1.0.7 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    

    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->

    <style type="text/css">
      md-backdrop.md-sidenav-backdrop{
          display:none
      }
    </style>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="MyCtrl">

  <%if (PermissionType == "Staff") { %>
      <%- include partials/navStaff.ejs %>
     <% } else{ %>  
      <%- include partials/nav.ejs %>
    <% } %>


<div class="container-fluid" style="width: 80%; margin: 0 auto;">

  <div layout="column" layout-fill>



    <div layout="column" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="MyApp" style="border: 0px solid red;">

      <section layout="row">

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4" style="border: 0px solid #333;position: fixed;" >

          <md-toolbar class="md-theme-indigo"  flex="none">
            <h1 class="md-toolbar-tools">Clients List</h1>
          </md-toolbar>


          <md-content layout-margin="">
            <!-- <p>
            This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
            </p> -->
            <md-button ng-click="toggleLeft()" class="md-accent">
            Close Window
            </md-button>
            <h2>Search Client</h2>
            <input type="text" ng-model="nameText">

            <h3>All Cients List</h3>
            <div class="form-container" style="overflow-x: scroll;">
            <h4>Number of Clients: {{clients.length}}</h4>
              <ul>

                <li ng-repeat="info in clients| filter:nameText" style="margin-left:-30px;"
                ng-click="goToPerson(info.FirstName, info.MiddleName, info.LastName)"
                ><p>Full Name : {{ info.FirstName }} {{ info.MiddleName }} {{ info.LastName }}</p></li>
              </ul>
              <div ng-show="!(clients| filter:nameText).length">No Clients Found</div>

            </div>

            

          </md-content>

        </md-sidenav>



        <div class="row">





          <div class="container">

            <md-button ng-click="toggleLeft()" class="md-raised">
              Show All Clients
            </md-button>
            
              <div class="row">

                <!-- <div class="col-md-12"> -->

                <md-content ng-hide="true">

                <div class="col-md-12" style="border: 0px solid #333;padding: 3% 3%;">

                  <md-card>

                    <md-toolbar class="md-theme-indigo">
                      <h1 class="md-toolbar-tools">Search Clients</h1>
                    </md-toolbar>

                    <md-card-content>

                      <md-input-container class="md-block">
                        <label for="fnames">First Name:</label>
                        <input required type="text" name="fnames" ng-model="formData.fnames" minlength="2" maxlength="100" />

                        <!-- <div ng-messages="SearchEmpInfoForm.fnames.$error" role="alert">
                          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Input must be between 2 and 100 characters long.
                          </div>
                        </div> -->

                      </md-input-container>

                      <md-input-container class="md-block">
                        <label for="mnames">Middle Name:</label>
                        <input required type="text" name="mnames" ng-model="formData.mnames" minlength="" maxlength="100" />

                        <div ng-messages="SearchEmpInfoForm.mnames.$error" role="alert">
                          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Input must be between 1 and 100 characters long.
                          </div>
                        </div>
                      </md-input-container>

                      <md-input-container class="md-block">
                        <label for="lnames">Last Name:</label>
                        <input required type="text" name="lnames" ng-model="formData.lnames" minlength="" maxlength="100" />

                        <div ng-messages="SearchEmpInfoForm.mnames.$error" role="alert">
                          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Input must be between 1 and 100 characters long.
                          </div>
                        </div>
                      </md-input-container>

                      <p style="color: red;" ng-show="info.FirstName == null">There were no records found</p>


                      <md-dialog-actions layout="row">
                        <md-button 
                        ng-click="getClientInfo()" 
                        md-autofocus type="submit" 
                        ng-show="formData.fnames != null && formData.fnames.length > 0 && formData.mnames != null && formData.mnames.length > 0 && formData.lnames != null && formData.lnames.length > 0">
                          Search Employee Records
                        </md-button>
                      </md-dialog-actions>

                    </md-card-content>

                  </md-card>

                </div>

                </md-content>


                <!-- <div class="col-md-12" style="border: 0px solid #333;padding: 3% 3%;" ng-hide="true">
                  <md-card>

                    <md-toolbar class="md-theme-indigo">
                      <h1 class="md-toolbar-tools">Search Results</h1>
                    </md-toolbar>

                    <md-card-content>

                      <table id="updateTable">

                        <tr>
                          <td>
                            <h4>First Name: </h4>
                          </td>
                          <td>
                            <input type="text" class="form-control" 
                            id="formDataUpdate_infoFirstUpdate" 
                            name="infoFirstUpdate" 
                            placeholder="Current First Name" 
                            ng-model="info.FirstName" disabled="true">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <h4>Middle Name: </h4>
                          </td>
                          <td>
                            <input type="text" class="form-control" 
                            id="formDataUpdate_infoMiddleUpdate" 
                            name="infoMiddleUpdate" 
                            placeholder="Current Middle Name" 
                            ng-model="info.MiddleName" disabled="true">
                          </td>
                        </tr>


                        <tr>
                          <td>
                            <h4>Last Name: </h4>
                          </td>
                          <td>
                            <input type="text" class="form-control" 
                            id="formDataUpdate_infoAgeUpdate" 
                            name="infoAgeUpdate" 
                            placeholder="Current Age" 
                            ng-model="info.LastName" disabled="true">
                          </td>                  
                        </tr>

                        <tr>
                          <td>
                            <h4>Age </h4>
                          </td>
                          <td>
                            <input type="text" class="form-control" 
                            id="formDataUpdate_infoAgeUpdate" 
                            name="infoAgeUpdate" 
                            placeholder="Current Age" 
                            ng-model="info.Age" disabled="true">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <h4>Gender </h4>
                          </td>
                          <td>
                            <input type="text" class="form-control" 
                            id="formDataUpdate_infoGenderUpdate" 
                            name="infoGenderUpdate" 
                            placeholder="Current Gender" 
                            ng-model="info.Gender" disabled="true">
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <h4>Status </h4>
                          </td>
                          <td>
                            <input type="text" class="form-control" 
                            id="formDataUpdate_infoStatusUpdate" 
                            name="infoGenderUpdate" 
                            placeholder="Current Status" 
                            ng-model="info.Status" disabled="true">
                          </td>
                        </tr>

                      </table>
                    </md-card-content>

                  </md-card>
                </div> -->

              </div>


              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                        Search Incident Reports
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        
                      <!-- Add Progress Report -->
                      <div class="row">
                        <!-- <div class="col-md-12"> -->



                        <!-- <div class="col-md-12" style="border: 0px solid #333;padding: 3% 3%;" ng-show="info._id.length > 0"> -->
                        <div class="col-md-12" style="border: 0px solid #333;padding: 3% 3%;">

                          <md-card>

                            <md-toolbar class="md-theme-indigo">
                              <h1 class="md-toolbar-tools">View Incident Reports</h1>
                            </md-toolbar>

                            <md-card-content>

                              <!-- <md-dialog-actions layout="row">
                                <md-button 
                                class="md-raised md-primary"
                                ng-click="ViewProgressReportSpecific()" 
                                md-autofocus type="submit" 
                                ng-show="progressReport.length > 0">
                                  View Specific Progress Reports On:
                                </md-button>
                              </md-dialog-actions> -->


                              <br><br>

                              <input type="text" class="form-control" 
                              style="margin-bottom: 30px;" 
                              id="progressReport_progressgoals" 
                              name="progressReport_progressgoals" 
                              ng-hide="true"
                              placeholder="Paste Progress Report Date here" 
                              ng-model="formData.progressReport_SpecificDate" >


                              <md-dialog-actions layout="row">
                                <md-button 
                                class="md-raised md-primary"
                                ng-click="ViewIncidentReport()" 
                                md-autofocus type="submit" >
                                  View Incident Reports On:
                                </md-button>
                              </md-dialog-actions>

                              <br><br>


                              <md-input-container class="md-block">

                              <div style="display:inline-block; min-height:290px;">

                              <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="{minMode: 'month'}" datepicker-popup="MM/yyyy" datepicker-mode="'month'"></div>
                              </div>


                              </md-input-container>


                              <div class="form-container" style="overflow-x: none;" ng-repeat="dates in incidentReportSearch">

                              <ul>
                                <li  style="margin-left:-30px;"
                                ng-model="formData.incidentReport_SpecificDate"
                                ng-click="ViewIncidentReportSpecific(dates.DateTime)"
                                ><a href=''>Report On: {{ dates.DateTime }}</a></li>
                              </ul>

                              </div>

                              <md-input-container>
                              <input type="text" name="Month" ng-model="formData.Month" ng-disabled="true" ng-hide="true" />
                              </md-input-container>

                              <md-input-container>
                                <input type="text" name="Year" ng-model="formData.Year" ng-disabled="true" ng-hide="true" />
                              </md-input-container>


                              
                              <p style="color: red;" ng-show="progressReport.length == 0">There are no report during this date</p>

                              </md-card-content>

                            </md-card>
                        </div>

                        <div class="col-md-12" style="border: 0px solid #333;padding: 3% 3%;" ng-repeat="specific in incidentReportSpecificresult">
                          <md-card>

                            <md-toolbar class="md-theme-indigo">
                                <h1 class="md-toolbar-tools">Results on {{ specific.DateTime }}</h1>
                                </md-toolbar>
                            <md-content>

                              <ul style="list-style: none;">
                                <li><h4>Name : {{ specific.FirstName }} {{ specific.MiddleName }} {{ specific.LastName }} </h4></li>

                                <li><h4>Incident : {{ specific.Type }} </h4></li>

                                <li><h4>Created By : {{ specific.CreatedBy }} </h4></li>

                                <li><h4>Incident : {{ specific.Incident }} </h4></li>

                                <li><h4>Incident : {{ specific.Actions }} </h4></li>

                              </ul>
                                
                            </md-content>
                          </md-card>
                        </div>


                      </div>      
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                        Add Incident Reports
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        
                      <!-- Add Progress Report -->
                      <div class="row">

                        <div class="col-md-12" style="border: 0px solid #333;padding: 3% 3%;">

                          <form name="SearchEmpInfoForm" method="POST" action="/AddIncidentReport">

                          <table id="updateTable">

                            <tr>
                              <td>
                                <h4>First Name: </h4>
                              </td>
                              <td>
                                <input type="text" class="form-control" 
                                id="formDataUpdate_infoFirstUpdate" 
                                name="infoFirstUpdate" 
                                placeholder="Current First Name" 
                                ng-model="info.FirstName">
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <h4>Middle Name: </h4>
                              </td>
                              <td>
                                <input type="text" class="form-control" 
                                id="formDataUpdate_infoMiddleUpdate" 
                                name="infoMiddleUpdate" 
                                placeholder="Current Middle Name" 
                                ng-model="info.MiddleName">
                              </td>
                            </tr>


                            <tr>
                              <td>
                                <h4>Last Name: </h4>
                              </td>
                              <td>
                                <input type="text" class="form-control" 
                                id="formDataUpdate_infoAgeUpdate" 
                                name="infoLastUpdate" 
                                placeholder="Current Age" 
                                ng-model="info.LastName">
                              </td>                  
                            </tr>

                            <tr>
                              <td>
                                <h4>Age </h4>
                              </td>
                              <td>
                                <input type="text" class="form-control" 
                                id="formDataUpdate_infoAgeUpdate" 
                                name="infoAgeUpdate" 
                                placeholder="Current Age" 
                                ng-model="info.Age">
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <h4>Gender </h4>
                              </td>
                              <td>
                                <input type="text" class="form-control" 
                                id="formDataUpdate_infoGenderUpdate" 
                                name="infoGenderUpdate" 
                                placeholder="Current Gender" 
                                ng-model="info.Gender">
                              </td>
                            </tr>

                            <tr>
                              <td>
                                <h4>Status </h4>
                              </td>
                              <td>
                                <input type="text" class="form-control" 
                                id="formDataUpdate_infoStatusUpdate" 
                                name="infoGenderUpdate" 
                                placeholder="Current Status" 
                                ng-model="info.Status">
                              </td>
                            </tr>

                          </table>

                            <md-card>

                              <md-toolbar class="md-theme-indigo">
                                <h1 class="md-toolbar-tools">Add Incident Report</h1>
                              </md-toolbar>

                              


                              <md-card-content>

                                <table id="ProgressReportTable" style="border: 0px solid red;width: 100%;">

                                  <tr>
                                    <td>
                                      <h4>{{ clock | date:'yyyy-MM-dd-HH:mm:ss'}}</h4>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      <h4>Date and Time: </h4>
                                    </td>
                                    <td>
                                      <md-input-container class="md-block">
                                        <input type="text" 
                                        id="incidentReport_date" 
                                        name="incidentReport_date" 
                                        placeholder="Current Date-Time" 
                                        ng-model="formData.incidentReport_date" disabled="true">
                                      </md-input-container>

                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      <h4>Incident: </h4>
                                    </td>
                                    <td>
                                      
                                      <md-input-container class="md-block">
                                       <!--  <label>Biography</label> -->
                                        <textarea 
                                        ng-model="formData.incident" 
                                        aria-label="Incident"
                                        md-maxlength="150" 
                                        rows="5" 
                                        md-select-on-focus 
                                        name="incident" 
                                        id="incident"></textarea>
                                      </md-input-container>

                                      <div ng-messages="SearchEmpInfoForm.incident.$error" role="alert">
                                      <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;font-size: 12px;">
                                        Input must be between 2 and 100 characters long.
                                      </div>
                                    </div>

                                    </td>
                                  </tr>

                                  <tr>
                                    <td>
                                      <h4>Actions taken: </h4>
                                    </td>
                                    <td>
                                      
                                      <md-input-container class="md-block">
                                       <!--  <label>Biography</label> -->
                                        <textarea 
                                        ng-model="formData.action" 
                                        aria-label="Action"
                                        md-maxlength="150" 
                                        rows="5" 
                                        md-select-on-focus 
                                        name="action" 
                                        id="action"></textarea>
                                      </md-input-container>

                                      <div ng-messages="SearchEmpInfoForm.action.$error" role="alert">
                                      <div ng-message-exp="['required', 'minlength', 'maxlength']" style="color: red;font-size: 12px;">
                                        Input must be between 2 and 100 characters long.
                                      </div>
                                    </div>

                                    </td>
                                  </tr>


                                </table>

                                <button type="submit" value="submit">Add</button>

                                <!-- <md-dialog-actions layout="row">
                                  <md-button class="md-raised"
                                  ng-click="AddIncidentReport()"
                                  md-autofocus type="submit" 
                                  ng-show="info._id.length > 0 &&
                                  formData.incident.length">
                                    Add Incident Report
                                  </md-button>
                                </md-dialog-actions> -->

                              </md-card-content>

                            </md-card>
                          </form>

                        </div>


                      </div>      
                    </div>
                  </div>
                </div>
              </div>



               

          </div>



        </div>


      </section>

    </div>


  </div>


</div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery-1.12.4.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="css/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>


  <script src="/js/angular/angular.js"></script>
  <script src="/js/angular-animate/angular-animate.js"></script>
  <script src="/js/angular-aria/angular-aria.js"></script>

  <!-- AngularJS Material Javascript now available via Google CDN; version 1.0.7 used here -->
  <script src="/js/angular-material/angular-material.js"></script>

  <script src="/js/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/js/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/js/bootstrap-ui-datetime-picker/dist/datetime-picker.js"></script>

  <script src="/js/angular-material-data-table/dist/md-data-table.js"></script>
  <script src="/js/angular-messages/angular-messages.js"></script>

  <script src="/js/ng-file-upload/ng-file-upload.js"></script>

  <!--dateRangPicker-->
  <script src="/js/moment/moment.js"></script>
  <script src="/js/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="/js/angular-daterangepicker/js/angular-daterangepicker.js"></script>

  <link rel="stylesheet" href="/css/bootstrap-daterangepicker/daterangepicker.css"/>

  <script src="/angular_controllers/gen_ctrl.js"></script>

  </body>
</html>